In [37]:
import numpy as np
import os
import pandas as pd

from fastai.data_block import DataBunch

import torch
import torch.nn as nn
import torch.utils.data as tdatautils

# 1. Create tensors/np arrays from csv

In [38]:
human_df = pd.read_csv('data/human_feats.csv')
virus_df = pd.read_csv('data/virus_feats.csv')
train_df = pd.read_csv('data/train.csv')

In [39]:
# print(human_df.head())
# print(virus_df.head())
print(train_df.head())

   node1  node2  edge
0    151   2841     1
1    151   2874     1
2    151    780     1
3    151   1183     1
4    155   2346     1

## 1.1 human_df, virus_df to np matrices / tensors

In [40]:
print(max(human_df['row']), max(human_df['col']))
print(max(virus_df['row']), max(virus_df['col']))

7209 2799
1107 2799

In [41]:
m, k_human = max(human_df['row']) + 1, max(human_df['col']) + 1
n, k_vir = max(virus_df['row']) + 1, max(virus_df['col']) + 1
assert(k_human == k_vir)
print(m,k_human)
print(n, k_vir)

7210 2800
1108 2800

In [46]:
def df_to_matrix(df_vals, m, k):
    mtrx = np.full((m, k), 0.0)
    
    for row in df_vals:
        r, c, v = int(row[0]), int(row[1]), row[2]
        mtrx[r][c] = v
        
    return mtrx

In [47]:
human_mtrx = df_to_matrix(human_df.values, m, k_human)
virus_mtrx = df_to_matrix(virus_df.values, n, k_vir)

In [48]:
print(human_mtrx.shape, virus_mtrx.shape)

(7210, 2800) (1108, 2800)

In [49]:
np.save('human_feats.npy', human_mtrx)
np.save('virus_feats.npy', virus_mtrx)

# 1.2 separate tasks to different dataframes

In [10]:
print(max(train_df['node1']), max(train_df['node2']))

967 7210

In [16]:
t1_train, t2_train, t3_train = train_df.iloc[:9305], train_df.iloc[9306:10370], train_df.iloc[10370:]

In [17]:
t1_train.loc[t1_train['edge'] == 1].index.values

array([  0,   1,   2,   3, ..., 902, 903, 904, 905])

In [12]:
t1_train.head()

   node1  node2  edge
0    151   2841     1
1    151   2874     1
2    151    780     1
3    151   1183     1
4    155   2346     1

In [10]:
t2_train.head()

      node1  node2  edge
9306    220    236     0
9307    313   1552     0
9308    623   4468     0
9309    306   1293     0
9310    296   5695     0

In [11]:
t3_train.head()

       node1  node2  edge
10370    359   2448     0
10371    252   5136     0
10372    254   6059     0
10373    307   2374     0
10374    370   6599     0

In [12]:
print(max(t1_train['node1']), max(t1_train['node2']))

932 7209

In [ ]:
# # run if saving
# t1_train.to_csv('t1_train.csv', index=False)
# t2_train.to_csv('t2_train.csv', index=False)
# t3_train.to_csv('t3_train.csv', index=False)

## t1 exploration

In [15]:
t1_train.loc[t1_train['edge'] == 1]

     node1  node2  edge
0      151   2841     1
1      151   2874     1
2      151    780     1
3      151   1183     1
4      155   2346     1
5      151    319     1
6      155   2669     1
7      151   1242     1
808    372    170     1
809    325     52     1
810    257   1255     1
811    333    130     1
812    251    572     1
813    125   2368     1
814    261    130     1
815    259   1592     1
816    325    618     1
817    211    572     1
818    322   1592     1
819    310   1255     1
820    283    130     1
821    299    130     1
822    316    130     1
823    327    572     1
824    258   1592     1
825    276   1592     1
826    251   1592     1
827    372   1210     1
828    277    130     1
829    372    331     1
..     ...    ...   ...
876    248   1592     1
877    372   2200     1
878    287    572     1
879    210   1255     1
880    242   1255     1
881    187   1255     1
882    372   2137     1
883    314    572     1
884    208   1255     1
885     33   1964     1
886    315    130     1
887    330    130     1
888    125    659     1
889    372   1346     1
890    372   3199     1
891    372    281     1
892    372   2206     1
893    235    130     1
894    276    130     1
895    223   1255     1
896    372    399     1
897    304   1592     1
898    260    130     1
899    246   1592     1
900    306   1592     1
901    372    161     1
902    372   2019     1
903    189    130     1
904    372   1935     1
905    125   2230     1

[106 rows x 3 columns]

In [16]:
max(t1_train['node1'])

932

In [17]:
max(t1_train['node2'])

7209