In [7]:
import numpy as np
import os
import pandas as pd

from fastai.data_block import DataBunch

import torch
import torch.nn as nn
import torch.utils.data as tdatautils

# 1. Create tensors/np arrays from csv

In [8]:
human_df = pd.read_csv('data/human_feats.csv')
virus_df = pd.read_csv('data/virus_feats.csv')
train_df = pd.read_csv('data/train.csv')

In [10]:
# print(human_df.head())
# print(virus_df.head())
print(train_df.head())

   node1  node2  edge
0    151   2841     1
1    151   2874     1
2    151    780     1
3    151   1183     1
4    155   2346     1

## 1.1 human_df, virus_df to np matrices / tensors

In [15]:
m, k_human = max(human_df['row']) + 1, max(human_df['col']) + 1
n, k_vir = max(virus_df['row']) + 1, max(virus_df['col']) + 1
assert(k_human == k_vir)
print(m,k_human)
print(n, k_vir)

7210 2800
1108 2800

In [34]:
def df_to_matrix(df_vals, m, k):
    mtrx = np.full((m, k), -1.0)
    
    for row in df_vals:
        r, c, v = int(row[0]), int(row[1]), row[2]
        mtrx[r][c] = v
        
    return mtrx

In [39]:
human_mtrx = df_to_matrix(human_df.values, m, k_human)
virus_mtrx = df_to_matrix(virus_df.values, n, k_vir)

# 1.2 separate tasks to different dataframes

In [60]:
print(max(train_df['node1']), max(train_df['node2']))

967 7210

In [54]:
t1_train, t2_train, t3_train = train_df.iloc[:9305], train_df.iloc[9306:10370], train_df.iloc[10370:]

In [55]:
t1_train.to_csv('t1_train.csv', index=False)
t2_train.to_csv('t2_train.csv', index=False)
t3_train.to_csv('t3_train.csv', index=False)

In [56]:
t1_train.head()

   node1  node2  edge
0    151   2841     1
1    151   2874     1
2    151    780     1
3    151   1183     1
4    155   2346     1

In [57]:
t2_train.head()

      node1  node2  edge
9306    220    236     0
9307    313   1552     0
9308    623   4468     0
9309    306   1293     0
9310    296   5695     0

In [58]:
t3_train.head()

       node1  node2  edge
10370    359   2448     0
10371    252   5136     0
10372    254   6059     0
10373    307   2374     0
10374    370   6599     0

In [59]:
print(max(t1_train['node1']), max(t1_train['node2']))

932 7209